{% extends "base.html" %}

{% block title %}
Levlr | Confirm Deletion
{% endblock %}

{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/web_app/css/home.css' %}">
<link rel="stylesheet" type="text/css" href="{% static '/web_app/css/logged_in_home.css' %}">
{% endblock %}


{% block content %}
{% load static %}
<!-- body -->
<!-- top header -->
<header>
    <!-- navbar-->
    <div class="container">
        <nav class="navbar">
            <a class="navbar-brand blue_bg_img_color stylish_header_font" href="{% url 'web_app:user_home' %}">
                <img src="{% static '/web_app/images/logo.png' %}" width="30" height="30"
                     class="d-inline-block align-top"
                     alt="">
                Levlr | <span class="red_bg_img_color">{{user_group}}</span> Home
            </a>


            <a class="btn_link red_bg_img_color_bg white_color standard_header_font" href="{% url 'web_app:log_out' %}">Sign
                Out</a>

        </nav>
    </div>

</header>

{% if user_group == "Writers" %}
<div class="container">
     <div class="push_top_further">
        <h1 class="medium_font stylish_header_font">
            <span class="dark_bg_img_color">Confirm</span> <span class="red_bg_img_color">Deletion</span>
        </h1>
        <p class="dark_bg_img_color paragraph_font">Are you sure you want to delete <span id="grading_txt" class="blue_bg_img_color">{{txt_title}}</span> ?</p>
        <a href="{% url 'web_app:delete_confirmation' txt_title %}" class="badge badge-danger">Yes! Delete</a>

        <a href="{% url 'web_app:user_home' %}" class="badge badge-info">No! Go Back</a>
     </div>
</div>

{% endif %}


{% endblock %}


{% block js %}
<!-- home javascript files -->

{% endblock %}