{% extends "base.html" %}

{% block title %}
EngTxtGrader | Home
{% endblock %}

{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/web/css/home.css' %}">
{% endblock %}


{% block content %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">English Text Grader</h1>
        <hr class="my-4">
        <p class="lead">Welcome back. </p>


        <div class="row">
            <div class="col-sm-6">
                {% if action_message %}
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    {{ action_message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<main class="container">
    <div class="row">
        <div class="col-sm">
            <form enctype="multipart/form-data" method="post" action="/home/update_input_txts">
                {% csrf_token %}
                {% if input_txts_notification == "success" %}
                <div class="alert alert-success" role="alert">
                    Updated Successfully!
                </div>
                {% elif input_txts_notification == "fail" %}
                <div class="alert alert-danger" role="alert">
                    Failed to Update!
                </div>
                {% endif %}

                <div class="form-group">

                    {{ input_txts_form.as_p }}
                    <p class="font-weight-light">
                        The file must be a <kbd>.pdf</kbd>, <kbd>.docx</kbd> or <kbd>.txt</kbd> file.
                    </p>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

            <hr class="my-4">

            <form enctype="multipart/form-data" method="post" action="/home/update_word_lists">
                {% csrf_token %}
                {% if word_lists_notification == "success" %}
                <div class="alert alert-success" role="alert">
                    Updated Successfully!
                </div>
                {% elif word_lists_notification == "fail" %}
                <div class="alert alert-danger" role="alert">
                    Failed to Update!
                </div>
                {% endif %}

                <div class="form-group">
                    {{ word_lists_form.as_p }}
                    <p class="font-weight-light">
                        Must be an <kbd>excel</kbd> file named <kbd>word_lists</kbd> with the <kbd>.xlsx</kbd> extension type.
                    </p>
                    <p class="font-weight-light">
                        Each <kbd>grade</kbd> should be in it's own <kbd>sheet</kbd>, within the excel file.
                    </p>
                    <p class="font-weight-light">
                        All words of a specific grade, should be placed in the <kbd>first column</kbd> of the sheet, starting from
                        the <kbd>second row</kbd>.
                    </p>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

        <div class="col-sm-12 col-md-8">
            <ul class="list-group">
                {% if input_texts %}
                {% for input_txt in input_texts %}
                <li class="list-group-item  list-group-item-action">
                    <a href="/home/grader/{{input_txt}}" class="black">{{input_txt}}
                    </a><a href="/home/grader/{{input_txt}}" class="badge badge-primary">Grade</a>
                    <a href="/home/delete/{{input_txt}}" class="badge badge-danger">Delete</a>
                </li>
                {% endfor %}
                {% else %}
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">OOps, it's empty here!</h4>
                    <p>It appears there are no text files to grade!</br>
                        Use the top <strong>input_txts</strong> form on the left, to add new texts to grade.</br>
                        Click <strong>browse</strong>, select the file from your computer, then click
                        <strong>submit</strong>.</p>
                    <hr>
                    <p class="mb-0">Note that only .txt, .docx and .pdf files are supported.</br>*If your document is a
                        .doc file, open it with an updated version of MS. Word and save it as a .docx file.</p>
                </div>
                {% endif %}

            </ul>
        </div>
    </div>
</main>


{% load static %}


{% endblock %}