
label{
     color : #042224 !important;
     font-family: standard_header;
}

input{
     color : #ff433d !important;
     background : none !important;
     border : none !important;
     font-family: paragraph !important;
     font-size : 14px !important;
}

.list-group-item {
     background : none !important;
     font-family: paragraph !important;
}

.no_bg{
     background : none !important;
}