{% extends "base.html" %}

{% block title %}
EngTxtGrader | Home
{% endblock %}

{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/web/css/home.css' %}">
{% endblock %}


{% block content %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">English Text Grader</h1>
        <hr class="my-4">
        <p class="lead">Welcome back. </p>
    </div>
</div>

<main class="container">
    <div class="row">
        <div class="col-sm">
            <form enctype="multipart/form-data" method="post" action="/home/update_input_txts">
                {% csrf_token %}
                {% if input_txts_notification == "success" %}
                <div class="alert alert-success" role="alert">
                    Updated Successfully!
                </div>
                {% elif input_txts_notification == "fail" %}
                <div class="alert alert-danger" role="alert">
                    Failed to Update!
                </div>
                {% endif %}

                <div class="form-group">
                    {{ input_txts_form.as_p }}
                    <small class="form-text text-muted">
                        The file must be a .pdf, .docx or .txt file.
                    </small>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

            <hr class="my-4">

            <form enctype="multipart/form-data" method="post" action="/home/update_word_lists">
                {% csrf_token %}
                {% if word_lists_notification == "success" %}
                <div class="alert alert-success" role="alert">
                    Updated Successfully!
                </div>
                {% elif word_lists_notification == "fail" %}
                <div class="alert alert-danger" role="alert">
                    Failed to Update!
                </div>
                {% endif %}

                <div class="form-group">
                    {{ word_lists_form.as_p }}
                    <small class="form-text text-muted">
                        The file must be a .xlsx file named word_lists.xlsx.<br>
                        Each grade should be in it's own sheet.<br>
                        All words of a specific grade, should be placed in the first column of the sheet, starting from
                        the second row.<br>
                    </small>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

        <div class="col-sm-12 col-md-8">
            <ul class="list-group">
                {% if input_texts %}
                {% for input_txt in input_texts %}
                    <a href="/home/grader/{{input_txt}}" class="list-group-item  list-group-item-action black">{{input_txt}}</a>
                {% endfor %}
                {% else %}
                <a href="#" class="list-group-item">
                    Use input_txts form to add new texts to grade</a>
                {% endif %}

            </ul>
        </div>
    </div>
</main>


{% load static %}


{% endblock %}