
.dark_bg_img_color{
    color : #042224 !important;
}

.dark_bg_img_color_bg{
    background-color : #042224 !important;
}

.red_bg_img_color{
    color : #ff736f !important;
}

.red_bg_img_color_bg{
     background-color : #ff736f !important;
}

.blue_bg_img_color{
    color : #00b4fd!important;
}

.blue_bg_img_color_bg{
     background-color : #00b4fd !important;
}

.white_color{
    color : #ffffff !important;
}

.white_color_bg{
   background-color : #ffffff !important;
}

.red_color{
    color : #ff0000 !important;
}


