
.dark_bg_img_color{
    color : #042224 !important;
}

.dark_bg_img_color_bg{
    background-color : #042224 !important;
}

.red_bg_img_color{
    color : #ff433d !important;
}

.red_bg_img_color_bg{
     background-color : #ff433d !important;
}

.blue_bg_img_color{
    color : #3f48cc !important;
}

.blue_bg_img_color_bg{
     background-color : #3f48cc !important;
}

.white_color{
    color : #ffffff !important;
}

.white_color_bg{
   background-color : #ffffff !important;
}

.red_color{
    color : #ff0000 !important;
}


